### Instructions: 
Download the 'Currency_Continent.csv', 'Currency_Map.csv' and 'ETFs.csv' files and place them in a folder in which you can access them.

---------------

1. a) In the cell below, import the sqlite4 package, the pandas package and rename it as pd and the datetime package and rename it as dt.

In [1]:
import sqlite3
import pandas as pd
import datetime as dt

    b) Create a connection to a SQL database called 'labs.db'.  Then create the cursor object through that connection.

In [5]:
# open connnection to a db file stored locally on disk - if file doesn't exist it is created
connection = sqlite3.connect('lecture.db')

# In order to run SQL commands with sqlite 3, we must create a cursor object
# that traverses the database to run sql commands execute them
cursor = connection.cursor()

    c) Edit the filepaths in the code below if needed to load in the 'Currency_Continent.csv', 'Currency_Map.csv' and 'ETFs.csv' files to SQL tables.

In [6]:
%cd ../
%cd Data
%ls    

#Used to increment
j = 0
index_start = 1

for df in pd.read_csv('Currency_Map.csv', iterator=True, encoding='utf-8'):  
    # Remove spaces from columns
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns})
    
    #Index the data
    df.index += index_start    
    df.to_sql('Currency_Map', connection, if_exists='replace') # name of SQL table, connection, append
    index_start = df.index[-1] + 1 # update index start
print('done')

#Used to increment
j = 0
index_start = 1

for df in pd.read_csv('Currency_Continent.csv', iterator=True, encoding='utf-8'):  
    # Remove spaces from columns
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns})
    
    #Index the data
    df.index += index_start    
    df.to_sql('Currency_Continent', connection, if_exists='replace') # name of SQL table, connection, append
    index_start = df.index[-1] + 1 # update index start
print('done')

#Used to increment
j = 0
index_start = 1

for df in pd.read_csv('ETFs.csv', iterator=True, encoding='utf-8'):  
    # Remove spaces from columns
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns})
    
    #Index the data
    df.index += index_start    
    df.to_sql('ETF_Data', connection, if_exists='replace') # name of SQL table, connection, append
    index_start = df.index[-1] + 1 # update index start
print('done')

/Users/Matthew/Documents/Consulting/Course_Extras/Labs
/Users/Matthew/Documents/Consulting/Course_Extras/Labs/Data
Currency_Continent.csv  ETFs.csv                lecture.db
Currency_Map.csv        Inventory_Data.csv
Demand_Plan.csv         SPY.csv
done
done
done

2. Create a table of your top 5 movies or tv show with when the movie was probably released, your rating out of 10 for it and the genre.  Name this table "Movies".

In [9]:
# Check that we are working with an empty db
cursor.execute("DROP TABLE IF EXISTS Movies;")

# We can define long SQL commands within three quotes

sql_command = """
CREATE TABLE Movies AS
  SELECT "Movie 1" AS Movie, 1994 AS Year, 10 AS Rating, "Genre1" AS Genre UNION
  SELECT "Movie 2", 2014, 9.5, "Genre1" UNION
  SELECT "Movie 3", 1978, 9.4, "Genre2" UNION
  SELECT "Movie 4", 1983, 9.3, "Genre1" UNION
  SELECT "Movie 5", 2012, 9.1, "Genre3" 
  ;"""

# In order to run SQL command on the databse file we have to execute them with the cursor
cursor.execute(sql_command)

# Load the sql table into a pandas dataframe for aesthetics
# The function's arguments are (sql_query_to_run, connection_to_database)
pd.read_sql_query('SELECT * FROM Movies',con = connection)

     Movie  Year  Rating   Genre
0  Movie 1  1994    10.0  Genre1
1  Movie 2  2014     9.5  Genre1
2  Movie 3  1978     9.4  Genre2
3  Movie 4  1983     9.3  Genre1
4  Movie 5  2012     9.1  Genre3

3. Create another table related to question 1 but has the movie/tv show name as one column name and another column for character name using python lists and the insert into command.  Please have at least 2 characters for every movie/tv show that us.  Name this table "Characters".

4. Select your top 2 rated movies using an order by and limit command from the "Movies" table.

5. Join the "Movies" and "Characters" tables together by the movie id you used.

6. Using the table you created above, display the count of the movies you had by genre.

7. Using that same table, display the total sum of the ratings and the count of characters for the movies in every genre.

8. Query the fund_yield and fund_name for all PIMCO funds.

In [ ]:
#Used for timer
start = dt.datetime.now()
#Number of rows to read in at a time
chunksize = 500

#Used to increment
j = 0
index_start = 1

for df in pd.read_csv('ETFs.csv', chunksize=chunksize, iterator=True, encoding='utf-8'):
    
    # Remove spaces from columns
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns})

    #Index the data
    df.index += index_start    
    j+=1

    df.to_sql('ETF_data', connection, if_exists='replace') # name of SQL table, connection, append
    print('{} seconds: completed {} rows'.format((dt.datetime.now() - start).seconds, j*chunksize))
    index_start = df.index[-1] + 1 # update index start
print('done')

In [ ]:
sql_statement = """
SELECT *
FROM ETF_data...
;
"""

pd.read_sql_query(sql_statement,con = connection)

9. Using the Currency_Map table, find the conversion rate from between USD and GBP.  Please note that this table provides USD per unit of foreign currency.  Your final answer should be a number.

In [ ]:
sql_statement = """
SELECT * 
From Currency_Map...;
"""
conversion_rate = pd.read_sql_query(sql_statement,con = connection).iloc[0][0]
print(conversion_rate)

10. Using the previous solution, query fund_name and net_assets from ETF_Data in GBP.

In [ ]:
sql_statement = """
SELECT *
FROM ETF_data...
;
"""

pd.read_sql_query(sql_statement,con = connection)

11. Query all fund_name and fund_treynor_ratio_5years where fund_treynor_ratio_5years is greater than 2.  Sort the query in ascending order.

In [ ]:
sql_statement = """
SELECT *
FROM ETF_data...
;
"""

12. Create a query that returns the USD conversion and continent for all matching currencies between Currency_Map and Currency_Continent.

In [ ]:
join_statement = """
SELECT * FROM Currency_Map as a, Currency_Continent as b 
WHERE ...;
"""

pd.read_sql_query(join_statement,con = connection)

13. Find the total of net_assets for all ProShares ETF's.  Your answer should be a number.

In [ ]:
sql_statement = """
SELECT * 
From ETF_data...;
"""
total_net_assets = pd.read_sql_query(sql_statement,con = connection).iloc[0][0]
print(total_net_assets)

In [ ]:
connection.commit() 

connection.close()